{% extends 'base.html' %}

{% block content %}

<ul>
    <li>
        <a href="#">인기태그</a>
    </li>
    <li>
        <a href="#">JENMON</a>
    </li>
    <li>
        <a href="#">수다</a>
    </li>
    <li>
        <a href="#">공부법</a>
    </li>
    <li>
        <a href="#">자격증</a>
    </li>
</ul>
<h1>Board</h1>
<h1>nav-background로 board에 있다고 알 수 있게</h1>
<h1>공지사항/이벤트 → 운영진 소식 전달</h1>

<h1>질문/답변 → 일본어에 대한 Q&A</h1>
<h1>추천자료 공유 → 앱, 유튜브, 드라마 등</h1>
<h1>레벨업 이야기 → ‘나의 젠몬펫이 진화했어요!’ 공유</h1>
<h1>공부기록 공유 → 사용자 간 스터디 감각</h1>
<h1></h1>

{% endblock %}