{% extends 'base.html' %}

{% block extra_style %}
<style>
    #search-form{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: #0B5CD5 1px solid;
        margin: 60px auto;
        width: 650px;
        height: 50px;
    }
    .search_input{
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 18px;
        padding: 4px;
        color:#0B5CD5;
        width: 100%;
    }
    #search-button{
        font-size: 36px;
        border: none;
        color: #0B5CD5;
        background-color: transparent;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
     <!-- 검색 폼 -->
     <form id="search-form" action="#" method="post">
        {% csrf_token %}

        <input class="search_input" type="text" placeholder="Search">
        <button id="search-button" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </form>

</div>



<!-- dictionary -->

<div class="col">
    <div class="card">
      <div class="level">N5</div>
      <a class="one_word" href="" >
          <!-- 答える -->

          <span class="word">
              答
          </span>
          <span class="blank_word">
              &nbsp;
              &nbsp;
              &nbsp;
          </span>
          <span class="word">
              る
          </span>
          
      </a>
      <div class="card-body ">
          <h5 class="card-title"><span class="pos">[동사(動詞)]</span>식욕, 먹고 싶어 하는 욕망 대답하다.</h5>
          <div class="example">
              <p class="card-text">彼はいつも率直に答__るタイプだ。</p>
              <span>질문에 대답하다.</span>
          </div>
      </div>
      <div class="card_answer">
          <form class="answer_form" action="">
              <input class="answer_search" type="text" placeholder="Answer">
              <button class="answer_submit">
                  <img src="{% static 'images/Enter_icon.png' %}" alt="">
              </button>
          </form>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="level">N5</div>
      <a class="one_word" href="" >
          <!-- 答える -->

          <span class="word">
              答
          </span>
          <span class="blank_word">
              &nbsp;
              &nbsp;
              &nbsp;
          </span>
          <span class="word">
              る
          </span>
          
      </a>
      <div class="card-body ">
          <h5 class="card-title"><span class="pos">[동사(動詞)]</span>식욕, 먹고 싶어 하는 욕망 대답하다.</h5>
          <div class="example">
              <p class="card-text">彼はいつも率直に答__るタイプだ。</p>
              <span>질문에 대답하다.</span>
          </div>
      </div>
      <div class="card_answer">
          <form class="answer_form" action="">
              <input class="answer_search" type="text" placeholder="Answer">
              <button class="answer_submit">
                  <img src="{% static 'images/Enter_icon.png' %}" alt="">
              </button>
          </form>
      </div>
    </div>
  </div>

{% endblock %}