{% extends 'base.html' %}
{% load static %}

{% block title %}{{ search_word }}{% endblock %}

{% block extra_style %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="section_search">
        <!-- 검색 폼 -->
        <form id="search-form" action="{% url 'dictionary:dictionary_search' %}" method="post">
            {% csrf_token %}

            <input class="search_input" type="text" name="search_query" placeholder="Search">
            <button id="search-button" type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
    </div> 

    <!-- 검색결과 -->
    <!-- 결과 쿼리가 있을 때 -->
    {% for one in search_result %}
    단어: {{one.word}}
    <br>
    발음: {{one.pronunciation}}
    <br>
    뜻: {{one.meaning}}
    <br>

    품사: {{one.POS}}
    <br>

    레벨: {{one.Lv}}
    <br>
    {% endfor %}
     
    <!-- 결과 쿼리가 없을 때 -->
     <!--  -->
</div>



{% endblock %}
