{% extends 'base.html' %}
{% load static %}

{% block title %}Dictionary{% endblock %}
{% block extra_style %}
<style>
    td, th {
        white-space: nowrap; /* 줄바꿈 방지 */
    }
    #search-form{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: #0B5CD5 1px solid;
        margin: 60px auto;
        width: 650px;
        height: 50px;
    }
    .search_input{
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 18px;
        padding: 4px;
        color:#0B5CD5;
        width: 100%;
    }
    #search-button{
        font-size: 36px;
        border: none;
        color: #0B5CD5;
        background-color: transparent;
    }

    .section_title {
        margin: 12px 0;
    }

    .section_content {
        display: flex;
        margin: 0 24px;
        margin-bottom: 48px;
    }

    .card_group {
        margin: 0 24px;

    }

    .card {
        align-items: center;
        border-radius: 16px;
        /* background-color: #5B60FD; */
    }
    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .card-title{
        align-items: center;
    }

    .level {
        margin-left: auto;
        margin-right: 24px;
        margin-top: 12px;
    }

    .one_word {
        display: flex;
        align-items: center;
        font-size: 30px;
        color: black;
    }
    .word, .blank_word {
        margin: 0 6px;
    }
    .blank_word {
        background-color: #E1F0FF;
        border-radius: 10px;
        align-items: center;
        height: 32px;
    }

    .pos {
        color: #3D9CFB;
        margin-right: 12px;
    }

    .card_answer {
        margin-bottom: 12px;
        border-bottom: #0B5CD5 1px solid;

    }

    .card_answer input{
        border: none;
        outline: none;
    }

    .answer_submit {
        outline: none;
        border: none;
        background-color: #fff;
        transition: transform 0.2s ease, background-color 0.3s ease;
    }

    .answer_submit:hover {
        transform: scale(1.07); 
        background-color: transparent;
    }

    .hvquiz {
        width: 100%;
        margin: 20px 0;
        border-spacing: 1rem;
    }    

    .hvquiz tr:hover {
        background-color: #f1f1f1;
    }

    .hvquiz td {
        width: 50px;
        height: 50px;
        text-align: center;
        border-radius: 8px;
        box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
        background-color: #fff;
    }

    /* 체크판 스타일 */
    .hvquiz tr:nth-child(odd) td:nth-child(even),
    .hvquiz tr:nth-child(even) td:nth-child(odd) {
        background-color: #f9f9f9;
    }

    .hvquiz tr:nth-child(odd) td:nth-child(odd),
    .hvquiz tr:nth-child(even) td:nth-child(even) {
        background-color: #fff;
    }


    .crossword-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    table.crossword {
        border-collapse: separate;

    }

    table.crossword td {
        width: 40px;
        height: 40px;
        border: 1px solid #ccc;
        position: relative;
        text-align: center;
    }

    table.crossword .input-cell input {
        width: 100%;
        height: 100%;
        border: none;
        text-align: center;
        font-size: 18px;
        text-transform: uppercase;
        outline: none;
        background-color: #fff;
    }

    table.crossword td .number {
        position: absolute;
        top: 2px;
        left: 2px;
        font-size: 12px;
        color: #333;
    }

    .content_hvkey {
        margin-left: 24px;
    }

    .key_container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-bottom: 12px;
    }

    .key {
        font-size: 2rem;
        border: none;
        background: transparent;
        padding: 5px 10px;
        position: relative;
        cursor: pointer;
    }

    .key::after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #0B5CD5;
        opacity: 0;
        transition: opacity 0.5s ease;
    }

    .key.active::after,
    .key:hover::after {
        opacity: 1;
    }

    .kana_container {
        margin: 0 24px;
        margin-bottom: 48px;
    }
    .kana_fcol {
        background-color: #f9f9f9;

    }

    .kana_head{
        margin-bottom: 24px;
    }

    .kana_table_wrapper {
        display: flex;
        margin: 36px 0;
    }

    .hiragana_50, .katakana_50 {
        width: 600px;
        border-collapse: collapse;
        text-align: center;
        border-spacing: 1px;
        /* margin: auto; */
    }
    .hiragana_50 {
        margin-right: 24px;
    }

    .hiragana_50 thead, .h_yoon, .c_hdakuhadakuten {
        background-color: #BFC8D7;
        color: #fff;
    }

    .hiragana_50 td, th{   
        border: 1px solid black;
        padding: 5px 8px;

    }

    .katakana_50 thead, .k_yoon, .c_kdakuhadakuten {
        background-color: #E2D2D2 !important;
        color: #fff;
    }

    .katakana_50 td, th {   
        border: 1px solid black;
        padding: 5px 8px;
    }

    .dakuten_yoon_wrapper {
        display: flex;
        margin: 20px 0;
    }

    .yoon, .dakuten_hadakuten {
        border-collapse: collapse;
        text-align: center;
        border-spacing: 1px;
        margin: 0 auto;
    }  
    .yoon {
        display: flex;
        margin-right: 24px;
    }
    /*  */
  
    /*  */
    
   

    .head_yoon {
        background-color: #A2B59F;
        color: #fff;
    }
    
    .yoon td, th {
        border: 1px solid black;
        padding: 5px 8px;
    }


    .head_dakuhadakuten {
        background-color: #E3E2B4;
        color: #fff;
    }
    

    .dakuhadakuten_caption {
        background: linear-gradient(to right, #BFC8D7, #E2D2D2);
        color: white;
    }

    .dakuten_hadakuten td:nth-child(even) {
        background-color: #f9f9f9;
    }
    /*  */
  
    /*  */

   

    .dakuten_hadakuten td, th {
        border: 1px solid black;
        padding: 5px 8px;
    }

    .dakuten_hadakuten p {
        margin: 0;
    }


</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="section_search">
        <!-- 검색 폼 -->
        <form id="search-form" action="{% url 'dictionary:dictionary_search' %}" method="post">
            {% csrf_token %}

            <input class="search_input" type="text" name="search_query" placeholder="Search" >
            <button id="search-button" type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
    </div>  
    <div class="section_oneword">
        <div class="section_title">
            <h2>하루 한 단어</h2>
            
            <form action="" method="post">
                {% csrf_token %}
                <button type="submit">today_word생성</button>
            </form>

        </div>
        <div class="section_content">
            <div class="row row-cols-1 row-cols-md-3 g-4 card_group">
                {% for one in today_words %}
                <div class="col">
                  <div class="card">
                    <div class="level">{{one.today_Lv}}</div>
                    <a class="one_word" href="" >
                        <!-- 단어 -->
                            {% for char in rendered_words %}

                            {% if char == " " %}
                                <span class="blank_word">&nbsp;&nbsp;&nbsp;</span>
                            {% else %}
                                <span class="word">{{ char }}</span>
                            {% endif %}
                            {% endfor %}

                        </a>
                    <div class="card-body ">
                        <p>{{one.today_pronunciation}}</p>
                        <h5 class="card-title"><span class="pos">[{{one.today_POS}}]</span> {{one.today_meaning}}</h5>
                        <div class="example">
                            <p class="card-text">[예문]彼はいつも率直に答__るタイプだ。</p>
                            <span>[예문 뜻]질문에 대답하다.</span>
                        </div>
                    </div>
                    <div class="card_answer">
                        <form class="answer_form" action="">
                            <input class="answer_search" type="text" placeholder="Answer">
                            <button class="answer_submit">
                                <img src="{% static 'images/Enter_icon.png' %}" alt="">
                            </button>
                        </form>
                    </div>
                  </div>
                </div>

                {% endfor %}
                


                
            </div>

        </div>

    </div>
    <div class="section_hvquiz">
        <div class="section_title">
            <h2>가로세로 퀴즈</h2>
            <h3>매일 12시 업데이트</h3>
        </div>
        <div class="section_content">
            <div class="content_hvtable">
                <table class="hvquiz">
                    <tr>
                        <td>答</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    
                </table>
                
            </div>
            <div class="content_hvkey">
                <div class="key_container">
                    <button id="key_horizontal" class="key active">가로</button>
                    <button id="key_vertical" class="key">세로</button>
                </div>
                <div class="key_content">
                    <p>1. JLPT N5 단어. **'대답하다'**를 의미하는 동사입니다. 반대말: 無視する (무시하다)</p> 
                    <p>2. 매일 랜덤퀴즈, 자동화 </p>

                </div>
                
            </div>
        </div>
    </div>
    <div class="section_kana">
        <div class="section_title">
            <h2 class="kana_head">카나(히라가나 + 가타카나)</h2>
        </div>
        <div class="kana_container">
            <div class="kana_table_wrapper">
                <table class="hiragana_50">
                    <thead>
                        <tr>
                            <th>히라가나 50음도표 </th>
                            <th>あ단</th>
                            <th>い단</th>
                            <th>う단</th>
                            <th>え단</th>
                            <th>お단</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="kana_fcol">あ행</td>
                            <td>あ(a, 아)</td>
                            <td>い(i, 이)</td>
                            <td>う(u, 우)</td>
                            <td>え(e, 에)</td>
                            <td>お(o, 오)</td>
                        </tr>
                        <tr>
                            <td class="kana_fcol">か행</td>
                            <td>か(ka, 카)</td>
                            <td>き(ki, 키)</td>
                            <td>く(ku, 쿠)</td>
                            <td>け(ke, 케)</td>
                            <td>こ(ko, 코)</td>
                        </tr>
                        <tr>
                            <td class="kana_fcol">さ행</td>
                            <td>さ(sa, 사)</td>
                            <td>し(shi, 시)</td>
                            <td>す(su, 수)</td>
                            <td>せ(se, 세)</td>
                            <td>そ(so, 소)</td>
                        </tr>
                        <tr>
                            <td class="kana_fcol">た행</td>
                            <td>た(ta, 타)</td>
                            <td>ち(chi, 치)</td>
                            <td>つ(tsu, 츠)</td>
                            <td>て(te, 테)</td>
                            <td>と(to, 토)</td>
                        </tr>
                        <tr>
                            <td class="kana_fcol">な행</td>
                            <td>な(na, 나)</td>
                            <td>に(ni, 니)</td>
                            <td>ぬ(nu, 누)</td>
                            <td>ね(ne, 네)</td>
                            <td>の(no, 노)</td>
                        </tr>
                        <tr>
                            <td class="kana_fcol">は행</td>
                            <td>は(ha, 하)</td>
                            <td>ひ(hi, 히)</td>
                            <td>ふ(fu, 후)</td>
                            <td>へ(he, 헤)</td>
                            <td>ほ(ho, 호)</td>
                        </tr>
                        <tr>
                            <td class="kana_fcol">ま행</td>
                            <td>ま(/ma, 마)</td>
                            <td>み(/mi, 미)</td>
                            <td>む(/mu, 무)</td>
                            <td>め(/me, 메)</td>
                            <td>も(/mo, 모)</td>
                        </tr>
                        <tr>
                            <td class="kana_fcol">や행</td>
                            <td>や(ya, 야)</td>
                            <td></td>
                            <td>ゆ(yu, 유)</td>
                            <td></td>
                            <td>よ(yo, 요)</td>
                        </tr>
                        <tr>
                            <td class="kana_fcol">ら행</td>
                            <td>ら(ra, 라)</td>
                            <td>り(ri, 리)</td>
                            <td>る(ru, 루)</td>
                            <td>れ(re, 레)</td>
                            <td>ろ(ro, 로)</td>
                        </tr>
                        <tr>
                            <td class="kana_fcol">わ행</td>
                            <td>わ(wa, 와)</td>
                            <td>ゐ(wi, 이)</td>
                            <td></td>
                            <td>ゑ(we, 에)</td>
                            <td>を(o, 오)</td>
                        </tr>
                        <tr>
                            <td class="kana_fcol">ん</td>
                            <td>ん(N, 응)</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                
                <table class="katakana_50">
                    <thead>
                        <tr>
                            <th>가타카나 50음도표</th>
                            <th>ア단</th>
                            <th>イ단</th>
                            <th>ウ단</th>
                            <th>エ단</th>
                            <th>オ단</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="kana_fcol">ア행</td>
                            <td>ア(a, 아)</td>
                            <td>イ(i, 이)</td>
                            <td>ウ(u, 우)</td>
                            <td>エ(e, 에)</td>
                            <td>オ(o, 오)</td>
                        </tr>
                        <tr>
                            <td class="kana_fcol">カ행</td>
                            <td>カ(ka, 카)</td>
                            <td>キ(ki, 키)</td>
                            <td>ク(ku, 쿠)</td>
                            <td>ケ(ke, 케)</td>
                            <td>コ(ko, 코)</td>
                        </tr>
                        <tr>
                            <td class="kana_fcol">サ행</td>
                            <td >サ(sa, 사)</td>
                            <td>シ(shi, 시)</td>
                            <td>ス(su, 수)</td>
                            <td>セ(se, 세)</td>
                            <td>ソ(so, 소)</td>
                        </tr>
                        <tr>
                            <td class="kana_fcol">タ행</td>
                            <td>タ(ta, 타)</td>
                            <td>チ(chi, 치)</td>
                            <td>ツ(tsu, 츠)</td>
                            <td>テ(te, 테)</td>
                            <td>ト(to, 토)</td>
                        </tr>
                        <tr>
                            <td class="kana_fcol">ナ행</td>
                            <td>ナ(na, 나)</td>
                            <td>ニ(ni, 니)</td>
                            <td>ヌ(nu, 누)</td>
                            <td>ネ(ne, 네)</td>
                            <td>ノ(no, 노)</td>
                        </tr>
                        <tr>
                            <td class="kana_fcol">ハ행</td>
                            <td>ハ(ha, 하)</td>
                            <td>ヒ(hi, 히)</td>
                            <td>フ(fu, 후)</td>
                            <td>ヘ(he, 헤)</td>
                            <td>ホ(ho, 호)</td>
                        </tr>
                        <tr>
                            <td class="kana_fcol">マ행</td>
                            <td>マ(ma, 마)</td>
                            <td>ミ(mi, 미)</td>
                            <td>ム(mu, 무)</td>
                            <td>メ(me, 메)</td>
                            <td>モ(mo, 모)</td>
                        </tr>
                        <tr>
                            <td class="kana_fcol">ヤ행</td>
                            <td>ヤ(ya, 야)</td>
                            <td></td>
                            <td>ユ(yu, 유)</td>
                            <td></td>
                            <td>ヨ(yo, 요)</td>
                        </tr>
                        <tr>
                            <td class="kana_fcol">ラ행</td>
                            <td>ラ(ra, 라)</td>
                            <td>リ(ri, 리)</td>
                            <td>ル(ru, 루)</td>
                            <td>レ(re, 레)</td>
                            <td>ロ(ro, 로)</td>
                        </tr>
                        <tr>
                            <td class="kana_fcol">ワ행</td>
                            <td>ワ(wa, 와)</td>
                            <td>ヰ(wi, 이)</td>
                            <td></td>
                            <td>ヱ(we, 에)</td>
                            <td>ヲ(o, 오)</td>
                        </tr>
                        <tr>
                            <td class="kana_fcol">ン</td>
                            <td>ン(N, 응)</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="dakuten_yoon_wrapper">
                <table class="yoon">
                        <tr class="caption">
                            <th class="h_yoon" colspan="4">히라가나</th>
                            <th class="k_yoon" colspan="4">가타카나</th>
                        </tr>
                        <tr class="thead">
                            <th class="head_yoon" colspan="3">요음</th>
                            <th class="head_sokuon">촉음</th>
                            <th class="head_yoon" colspan="3">요음</th>
                            <th class="head_sokuon">촉음</th>
                        </tr>
                        <tr>
                            <!-- 요음 -->
                            <td>ゃ</td>
                            <td>ゅ</td>
                            <td>ょ</td>
                            <!-- 촉음 -->
                            <td>っ</td>
                            <!-- 가타카나 요음 -->
                            <td>ャ</td>
                            <td>ュ</td>
                            <td>ョ</td>
                            <!-- 가타카나 촉음 -->
                            <td>ッ</td>
                        </tr>
                </table>

                <table class="dakuten_hadakuten">
                    <tr>
                        <th class="head_dakuhadakuten" colspan="12">탁음·반탁음</th>
                    </tr>
                    <tr>
                        <th class="dakuhadakuten_caption" colspan="2"><p>히라가나 /</p><p> 가타카나&nbsp;&nbsp;</p></th>
                        <th class="c_hdakuhadakuten">が행</th>
                        <th class="c_kdakuhadakuten">ガ행</th>
                        <th class="c_hdakuhadakuten">ざ행</th>
                        <th class="c_kdakuhadakuten">ザ행</th>
                        <th class="c_hdakuhadakuten">だ행</th>
                        <th class="c_kdakuhadakuten">ダ행</th>
                        <th class="c_hdakuhadakuten">ば행</th>
                        <th class="c_kdakuhadakuten">バ행</th>
                        <th class="c_hdakuhadakuten">ぱ행</th>
                        <th class="c_kdakuhadakuten">パ행</th>
                    </tr>
                    <tr>
                        <td class="c_hdakuhadakuten">あ단</td>
                        <td class="c_kdakuhadakuten">ア단</td>
                        <td>が(ga, 가)</td>
                        <td>ガ(ga, 가)</td>
                        <td>ざ(za, 자)</td>
                        <td>ザ(za, 자)</td>
                        <td>だ(da, 다)</td>
                        <td>ダ(da, 다)</td>
                        <td>ば(ba, 바)</td>
                        <td>バ(ba, 바)</td>
                        <td>ぱ(pa, 파)</td>
                        <td>パ(pa, 파)</td>
                    </tr>
                    <tr>
                        <td class="c_hdakuhadakuten">い단</td>
                        <td class="c_kdakuhadakuten">イ단</td>
                        <td>ぎ(gi, 기)</td>
                        <td>ギ(gi, 기)</td>
                        <td>じ(ji, 지)</td>
                        <td>ジ(ji, 지)</td>
                        <td>ぢ(ji, 지)</td>
                        <td>ヂ(ji, 지)</td>
                        <td>び(bi, 비)</td>
                        <td>ビ(bi, 비)</td>
                        <td>ぴ(pi, 피)</td>
                        <td>ピ(pi, 피)</td>
                    </tr>
                    <tr>
                        <td class="c_hdakuhadakuten">う단</td>
                        <td class="c_kdakuhadakuten">ウ단</td>
                        <td>ぐ(gu, 구)</td>
                        <td>グ(gu, 구)</td>
                        <td>ず(zu, 주)</td>
                        <td>ズ(zu, 주)</td>
                        <td>づ(zu, 주)</td>
                        <td>ヅ(zu, 주)</td>
                        <td>ぶ(bu, 부)</td>
                        <td>ブ(bu, 부)</td>
                        <td>ぷ(pu, 푸)</td>
                        <td>プ(pu, 푸)</td>
                    </tr>
                    <tr>
                        <td class="c_hdakuhadakuten">え단</td>
                        <td class="c_kdakuhadakuten">エ단</td>
                        <td>げ(ge, 게)</td>
                        <td>ゲ(ge, 게)</td>
                        <td>ぜ(ze, 제)</td>
                        <td>ゼ(ze, 제)</td>
                        <td>で(de, 데)</td>
                        <td>デ(de, 데)</td>
                        <td>べ(be, 베)</td>
                        <td>ベ(be, 베)</td>
                        <td>ぺ(pe, 페)</td>
                        <td>ペ(pe, 페)</td>
                    </tr>
                    <tr>
                        <td class="c_hdakuhadakuten">お단</td>
                        <td class="c_kdakuhadakuten">オ단</td>
                        <td>ご(go, 고)</td>
                        <td>ゴ(go, 고)</td>
                        <td>ぞ(zo, 조)</td>
                        <td>ゾ(zo, 조)</td>
                        <td>ど(do, 도)</td>
                        <td>ド(do, 도)</td>
                        <td>ぼ(bo, 보)</td>
                        <td>ボ(bo, 보)</td>
                        <td>ぽ(po, 포)</td>
                        <td>ポ(po, 포)</td>
                    </tr>
                </table>
                
            </div>
        </div>
            
        <div class="section_content">

        </div>

    </div>
    <h2>예문을 추가해주세요</h2>

    <h2>
        
    <!-- 1. 최근 검색한 단어 (Recently Searched Words)
    사용자들이 가장 최근에 검색한 단어를 자동으로 기록하고 표시합니다.
    사용자가 검색 기록을 클릭하면 해당 단어의 정의 페이지로 이동합니다.
    이 기능은 사용자 경험을 개선하며, 필요한 정보를 빠르게 찾을 수 있도록 도와줍니다.
    <br>
    2. 인기 검색어 (Trending Words)
    다른 사용자들이 자주 검색하는 인기 검색어 목록을 표시합니다.
    특정 기간 동안 많이 검색된 단어들을 그래프나 리스트 형태로 나타낼 수 있습니다.
    사용자들의 관심사를 반영하며, 유머나 트렌드를 반영할 수도 있습니다.
    <br>
    3. 추천 단어 섹션 (Word of the Day)
    매일 하나의 추천 단어를 소개합니다.
    단어의 뜻, 예문, 발음 등 다양한 정보를 제공하여 학습 효과를 높입니다.
    사용자가 매일 새로운 단어를 배우도록 유도합니다.
    <br>
    4. 카테고리별 검색 추천 (Category-Based Search)
    특정 카테고리로 나누어 검색 추천 기능을 제공합니다.
    예: 음식, 여행, 스포츠, 기술 등 다양한 분야의 단어 추천 섹션
    사용자가 관심 카테고리를 선택하면 관련 단어가 자동으로 표시됩니다.
    <br>
    5. 최근 활동 타임라인 (User Activity Timeline)
    사용자의 활동 기록, 즉 검색 이력 타임라인을 제공해보세요.
    검색한 단어, 검색 날짜와 시간을 한눈에 볼 수 있도록 구성합니다.
    <br>
    6. 상호작용 기능 (User Interaction Features)
    즐겨찾기 버튼: 사용자가 자주 찾는 단어를 ‘즐겨찾기’에 추가할 수 있도록 기능 추가.
    퀴즈/테스트 기능: 사용자 참여형 테스트를 만들어 단어의 의미나 철자를 맞추게 합니다.
    댓글 시스템: 다른 사용자들이 단어에 대해 설명이나 예문을 댓글로 공유할 수 있도록.
    <br>
    7. AI 추천 기능 (AI-Powered Suggestions)
    검색 기록과 추천 알고리즘을 기반으로 AI가 사용자에게 맞춤형 단어 추천 제공.
    비슷한 단어, 동의어, 반의어 등 다양한 연결성을 추천합니다. -->
    </h2>
    

</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
  const buttons = document.querySelectorAll(".key");

  buttons.forEach((button) => {
    button.addEventListener("mouseenter", () => {
      buttons.forEach((btn) => btn.classList.remove("active")); // 기존 active 클래스 제거
      button.classList.add("active"); // 현재 버튼에 active 클래스 추가
    });
  });
});

</script>


{% endblock %}

