{% extends 'base.html' %}
{% load static %}
{% block extra-style %}
<link href="{% static 'css/user.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container-fluid mt-5">
    <div class="d-flex justify-content-center mb-5">
        <div class="border p-4 rounded mt-4 register-container">
            <h2 class="text-center mb-4">회원 가입</h2>
            {% if message %}
            <p style="color: green;" class="text-center">{{ message }}</p>
            {% endif %}

            {% if error %}
            <p style="color: red;" class="text-center">{{ error }}</p>
            {% endif %}
            <form method="post" enctype="multipart/form-data" class="register-form">
                {% csrf_token %}
                <input type="email" id="email" name="email" class="form-control md-3" placeholder="Email" required>
                <button type="button" id="send-code-btn" class="btn btn-secondary w-100 mt-2">인증 코드 발송</button>
                <p id="message"></p>
                
                <input type="text" id="verification_code" name="email_verification_code" class="form-control mt-3" placeholder="인증 코드 입력" required>
                <!-- 발송 후 >> 인증코드 확인 -->
                <button type="button" id="verify-code-btn" class="btn btn-success w-100 mt-2">인증 코드 확인</button>

                
            </form>

            <form method="post" enctype="multipart/form-data" class="register-form">
                {% csrf_token %}

                <div class="mb-3 d-flex mt-3">
                    <div style="flex: 1;">
                        <input type="text" id="name" name="name" class="form-control" placeholder="이름"
                            required>
                    </div>
                </div>
                <input type="text" id="nickname" name="nickname" class="form-control mb-3" placeholder="Nickname"
                    required>

                <input type="text" id="phone_number" name="phone_number" class="form-control mb-3" placeholder="핸드폰 번호"
                    required>

                <input type="password" id="password1" name="password1" class="form-control mb-3" placeholder="비밀번호"
                    required>

                <input type="password" id="password2" name="password2" class="form-control mb-3" placeholder="비밀번호 확인"
                    required>

                <label for="photo" class="form-label">프로필(선택사항)</label>
                <input type="file" id="photo" name="photo" class="form-control mb-3">
                <button type="submit" class="btn btn-primary w-100">등록</button>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const sendBtn = document.getElementById('send-code-btn');
        const verifyBtn = document.getElementById('verify-code-btn');
        const messageEl = document.getElementById('message');

        // 인증 코드 발송
        sendBtn.addEventListener('click', function () {
            const email = document.getElementById('email').value;

            // 버튼 상태 먼저 바꾸기
            sendBtn.innerText = '인증 코드 발송 중...';
            sendBtn.disabled = true;
            sendBtn.style.backgroundColor = '#ccc';

            // 이메일 발송 요청 비동기로 수행
            fetch('{% url "user:send_verification_code" %}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}',
                },
                body: JSON.stringify({ email: email })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    // 성공하면 버튼 문구 확정
                    // sendBtn.innerText = '인증 코드가 발송되었습니다';
                    // sendBtn.style.color = "green";
                    messageEl.style.color = "green";
                    messageEl.innerText = '인증 코드가 발송되었습니다';

                } else {
                    // 실패하면 버튼 원래 상태로 복원
                    // sendBtn.innerText = data.error;
                    // sendBtn.style.color = "red";
                    messageEl.style.color = "red";
                    messageEl.innerText = data.error;
                }
                sendBtn.disabled = false;
                sendBtn.style.backgroundColor = ''; // 원래 색상
                sendBtn.innerText = '인증 코드 발송';
            })
            .catch(err => {
                console.error(err)
                messageEl.style.color = "red";
                messageEl.innerText = '네트워크 오류';
                sendBtn.disabled = false;
                sendBtn.style.backgroundColor = '';
                sendBtn.innerText = '인증 코드 발송';
            });
        });

        //  인증 코드 확인
        verifyBtn.addEventListener('click', function() {
            const code = document.getElementById('verification_code').value;

            fetch('{% url "user:verify_email_code" %}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token}}',
                },
                body: JSON.stringify({ email_verification_code: code})
            })
            .then(response => response.json())
            .then(data => {
                if(data.success){
                    messageEl.style.color = "green";
                    messageEl.innerText = data.message;
                } else {
                    messageEl.style.color = "red";
                    messageEl.innerText = data.error;
                }
            })
            .catch(err => {
                console.error(err)
                messageEl.style.color = "red";
                messageEl.innerText = '네트워크 오류';
            })
        })
    });

</script>
{% endblock %}