{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/a47086679e.js" crossorigin="anonymous"></script>

    <!-- css -->
    <link href="{% static 'css/base.css' %}" rel="stylesheet">

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">


    <title>JENJOY</title>
    
    <!-- style -->
    {% block extra_style %}{% endblock %}
</head>

<body>
    <!-- nav section -->
    {% block nav %}
    <nav class="navbar-expand-lg nav_container">
        <div class="nav_content">
            <!-- 메뉴 중앙정렬 -->
            <div class="empty_box">
            </div>
            <!-- nav_menu 메뉴 -->
            <ul class="navbar-nav nav_menu">
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle nav_dropdown" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        STUDY
                    </a>
                    <ul class="dropdown-menu dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item" href="/speak/">SPEAK</a></li>
                        <li><a class="dropdown-item" href="/read/">READ</a></li>
                        <li><a class="dropdown-item" href="/write/">WRITE</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="/jenmon/" class="jenmon">JENMON</a>
                </li>
                <li class="nav-item logo">
                    <a href="/" class="home" 
                    style="background-image: url('{% static 'images/Blob.png' %}'); 
                    background-repeat: no-repeat; 
                    background-size: contain; 
                    background-position: center;">
                    JENJOY</a>
                </li>
                <li class="nav-item">
                    <a href="/board/" class="board">BOARD</a>
                </li>
                <li class="nav-item">
                    <a href="/dictionary/" class="dictionary">DICTIONARY</a>
                </li>
            </ul>

            <div class="section_user">
                <a href=""><i class="fa-solid fa-flag-checkered mission"></i></a>
                <a href=""><i class="fa-solid fa-user user"></i></a>
                <!-- 햄버거 버튼 -->
                <button class="hamburger_menu" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
            <!--!!-->
        </div>
        <!--!!-->
    </nav>   
    

    {% endblock %}

    <!-- content section -->
    {% block content %}{% endblock %}
    <footer class="footer bg-dark text-light py-4">
        <div class="container d-flex justify-content-between">
            <div>
                
                <p>Contact: <a href="mailto:support@jenjoy.com">gord23p@gmail.com</a></p>
                <a href="/privacy-policy/" class="text-light">Privacy Policy</a> 
                <a href="/terms-of-service/" class="text-light">Terms of Service</a>
                <br>
                <br>
                <h5>Follow Us</h5>
                <a href="#" class="text-light"><i class="fa-brands fa-github"></i></a>
                <a href="#" class="text-light"><i class="fa-brands fa-instagram"></i></a>
                
            </div>
            <div class="footer_logo">
                <a href="/"><img src="{% static 'images/Egg.png' %}" alt=""></a>
                <p>© 2024 JENJOY. All Rights Reserved.</p>
            </div>
            <div>
                <h5>오늘의 목표를 달성했나요?</h5>
                <ul>
                    <li><a href="/speak/" class="text-light">Speak</a></li>
                    <li><a href="/jenmon/" class="text-light">Jenmon</a></li>
                    <li><a href="/dictionary/" class="text-light">Dictionary</a></li>
                </ul>
                
            </div>
        
        </div>
    </footer>
    
</body>
</html>